<div class="wrapper">
  <div class="form-signin form-horizontal">
    <h2 class="form-signin-heading text-center">New User</h2>
<%= form_for @user do |f| %>
<!-- add errors partial -->
  <p class="form-control username register">
    <%= f.label :email %>
    <%= f.email_field :email, :size => 32 %>
  </p>
  <p class="form-control username register">
    <%= f.label :username %>
    <%= f.text_field :username, :size => 28 %>
  </p>
  <p class="form-control password">
    <%= f.label :password %>
    <%= f.password_field :password, :size => 28 %>
  </p>
  <p class="form-control password">
    <%= f.label "Key:" %>
    <%= f.password_field :key, :size => 32 %>
  </p>
  <p class="text-center">
    <%= f.submit class: "btn btn-primary" %>
  </p>
 <% end %>
  </div>
</div>
