<div class="review">
  <div class="left reviewer">
    <h3>Trusted Reviewer</h3>
    <%= review.reviewer.username %> <%= image_tag 'trusted_sticker.png' %> <br>
    <%= review.created_at %>
  </div>

  <div class="review-content">
    <div class="top-right">
      Average Rating: <%= review.average_rating %>
    </div>

    <h3>"<%= review.title %>"</h3>
    <p>
      <%= review.body %>
    </p>
  </div>

  <div class="right review-options">
    <% if logged_in? %>
      <a href="/reviews/<%=review.id%>/comments/new">Add Comment</a>
    <% else %>
      <p><%= link_to "Login", new_login_path %> to leave a comment.</p>
    <% end %>
  </div>
</div>
