<div class="container">
  <%= image_tag @movie.poster_url.to_s, size: "300x450" %>

<section class="right">
  <h1><%= @movie.title %></h1>
  <h2><%= @movie.release_date %></h2>
  <div class="top-right">
    <h2>Average Rating: <%= @movie.average_rating %></h2>
    <%= link_to "Rate This Movie!", new_movie_rating_link_path(@movie), :class => "btn btn-block btn-info btn-lg" %>
  </div>

  <h2>Cast</h2>
    <p>
      <%= @movie.cast %>
    </p>

  <h2>Synopsis</h2>
  <p>
    <%= @movie.synopsis %>
  </p>
</section>

<section class="show-all-reviews">
  <% if @reviews.any? %>
    <% @reviews.each do |review| %>
      <hr>
      <div class="review-comments">
        <%= render 'reviews/show', :review => review %>

        <div class="comments-list">
          <% review.comments.each do |comment| %>
            <%= render 'comments/show', :comment => comment %>
          <% end %>
        </div>
      </div>
  <% end %>
<% end %>

</section>

<section class="container new-review-form">
  <% if authorized_user.trusted_reviewer %>
      <%= render 'reviews/new' %>
  <% end %>
</section>

</div>
