<%= image_tag @movie.poster_url.to_s %>

<section class="right">
  <h1><%= @movie.title %></h1>
  <h2><%= @movie.release_date %></h2>
  <div class="top-right">
    <h2><%= @movie.average_rating %></h2>
  </div>

  <h2>Cast</h2>
    <p>
      <%= @movie.cast %>
    </p>

  <h2>Synopsis</h2>
  <p>
    <%= @movie.synopsis %>
  </p>
</section>

<section class="show-all-reviews">
  <% if @reviews.any? %>
    <% @reviews.each do |review| %>
      <%= render 'reviews/show', :review => review %>
  <% end %>
<% end %>

</section>

<!-- if trusted_reviewer, render reviews#new -->
<% if @user %>
  <% if @user.trusted_reviewer %>
    <%= render 'reviews/new' %>
  <% end %>
<% end %>
